#container {
    position: relative;
    min-height: 100vh;
}

footer{
    position: relative;
    left: 0%;
    bottom: 0vh;
    width: 100%;
    height: 2.5rem;           
    height: fit-content;
    font-size: x-small;
}

body{
    /* background-image: linear-gradient(rgb(60, 156, 168), rgb(10, 238, 150)); */
    background-image: url("hexagon background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.navbar{
    background-color: #ededed;

}
.navbar-light .navbar-nav .nav-link {
    color: #565656;
    background-color: #dedede;

 }

.fa {
    height: 5vh;
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-home{
    padding: 0px;
    margin-bottom: 0px;
    font-size: 10px;
}

.fa-envelope{
    padding: 0px;
    margin-bottom: 0px;
    font-size: 10px;
}

.fa-phone{
    padding: 0px;
    margin-bottom: 0px;
    font-size: 10px;
}

.fa-facebook {
    box-sizing: content-box;
    background: #3B5998;
    color: white;
}

.fa-twitter {
    box-sizing: content-box;
    background: #55ACEE;
    color: white;
}

.fa-instagram {
    box-sizing: content-box;
    margin-left: auto;
    background: #EA0C5F;
    color: white;
}



.home-container { 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 6vh 6vh 6vh 6vh 6vh 6vh 6vh 6vh 6vh 6vh 6vh 6vh 6vh 6vh 6vh;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    height: 100%;
    margin: 0;
}
  
.home-image-1 { 
    grid-area: 2 / 2 / 8 / 7; 
    border: thin solid #565656;
    border-radius: 5px;
    background-image: url("Education.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
  
.home-text-1 {
    grid-area: 2 / 8 / 8 / 14;       
    background-image: linear-gradient(rgb(120, 196, 206), rgb(117, 106, 218));
    color: #31292d;
    text-align: center;
    border: thin solid #565656;
    border-radius: 5px;
    background-color: #ededed;
}

  .home-image-2 { 
    grid-area: 9 / 9 / 15 / 14;       
    border: thin solid #565656;
    border-radius: 5px;
    background-image: url("edutech.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
  .home-text-2 { grid-area: 9 / 2 / 15 / 8;       

    /* background-image: linear-gradient(rgb(120, 196, 206), rgb(117, 106 , 218)); */
    background-image: linear-gradient(rgb(117, 106, 218), rgb(10, 238, 150)); 

    color: #31292d;
    text-align: center;
    border: thin solid #565656;
    border-radius: 5px;
    background-color: #ededed;
}
